RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>